<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- Material Design fonts -->
  <!--
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  -->

    <!-- Bootstrap Material Design -->
    <link href="https://lc-ebjr3wfn.cn-n1.lcfile.com/26c5cc13ecd4f33c.css" rel="stylesheet">
    <link href="https://lc-ebjr3wfn.cn-n1.lcfile.com/875f5354eb56b9e0.css" rel="stylesheet">
    <link href="https://lc-ebjr3wfn.cn-n1.lcfile.com/784732a4bb8fbf60.css" rel="stylesheet">
    <link href="https://lc-ebjr3wfn.cn-n1.lcfile.com/52c6cebf26d7b343.css" rel="stylesheet">

    <title>SyncUS --- Todo</title>
    <script type="text/javascript" src="https://lc-ebjr3wfn.cn-n1.lcfile.com/8a693e41ac0285fc.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style type="text/css">
      .panel-footer .row {
        margin-top: -10px;
        max-height: 40px
      }
      .panel-footer .row .form {
        max-height: 35px
      }
      .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
      }
      .font-logo{
        font-family:radikal,"Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
        font-weight:400
      }

      /* show the move cursor as the user moves the mouse over the panel header.*/
      #draggablePanelList .panel-body {
          cursor: move;
      }
    </style>

  </head>
  <body>

    <div class="container">
      <div class="row">
        <form action="/logout" method="post" class="form-signin" role="form">
          <button class="btn btn-raised btn-link pull-right" type="submit">Logout</button>
        </form>
        <h1><%= title %></h1>
        <p/>

          <div class="form-group label-floating">
            <form class="form-horizontal" action="/todos" method="POST">
              <label class="control-label" for="content">添加新的 TODO 事项，回车即确认</label>
              <input type="text" class="form-control input-lg" name="content"/>
            </form>
          </div>

        <p/>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul id="draggablePanelList" class="list-unstyled">
            <% for(var i=0; i<todos.length; i++) {%>
            <li class="panel panel-default">
              <div class="panel-body"><%= todos[i].get('content') %></div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-8"><h6><%= todos[i].createdAt %></h6></div>
                  <div class="col-md-4">
                    <form action="/todos/done" method="post" class="form-signin pull-right" role="form">
                      <input type="hidden" class="form-control" id="itemId" name="itemId" value="<%=todos[i].id%>">
                      <input type="hidden" id="orindex" name="orindex" value="<%=i%>">
                      <button class="btn btn-sm active" type="submit">完成</button>
                    </form>
                  </div>
                </div>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>最近完成</h4>
          <div class="list-group">
          <% for(var i=0; i<dones.length; i++) {%>
            <div class="well well-sm">
              <span class="label label-success pull-right"><%= dones[i].updatedAt %></span>
              <p><%= dones[i].get('content') %></p>
            </div>
          <% } %>
          </div>

        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="col-md-4">
          <a href="https://github.com/jwfing/syncus"></i>Project Source</a>
        </div>
        <div class="col-md-4">
          <a href="https://github.com/jwfing/todo_ntp">Chrome Extension Source</a>
        </div>
        <div class="col-md-4">
          <p class="text-muted" style="text-align: right;padding-right: 50px">powered by <a href="https://leancloud.cn" class="logo font-logo">LeanCloud</a></p>
        </div>
      </div>
    </footer>
  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72792843-1', 'auto');
  ga('send', 'pageview');

  jQuery(function($) {
    var panelList = $('#draggablePanelList');

    panelList.sortable({
      // Only make the .panel-body child elements support dragging.
      // Omit this to make then entire <li>...</li> draggable.
      handle: '.panel-body', 
      update: function() {
        $('.panel', panelList).each(function(index, elem) {
          var listItem = $(elem),
          newIndex = listItem.index();
          $('input#orindex', listItem).each(function(index) {
            var orindex = $(this)[0].value;
            
            if (newIndex != orindex) {
              // Persist the new indices.
              console.log("old index: " + orindex + ", new index: " + newIndex);
            }
          });
        });
        console.log("process all.");
      }
    });
  });
</script>
</html>
